.container {
    text-align: center;
    padding-top: 18%;
    color: #F9D289;
    font-weight: bold;
}
 

.row {
    text-align: center;
}

.button{
    background-color: #5B4653;
    color: #FFFEDF;
    float: right;
}


.button:hover, .button-large:hover, .button-small:hover{
    background-color:#5B4653;
    color: #F9D289; 
}

/* Form section */
.input-field>label {
    color: #1E3656 ;
    font-size: 1.4rem;
  }
  
  input[type=text]:not(.browser-default) {
    border-bottom: 2px solid  #5B4653;
  }
  
  input[type=text]:focus + label {
    color:  #F9D289 !important; 
  }
  
  input[type=text]:focus {
    color: #5B4653!important;
  }
  
  input[type=text]:not(.browser-default):focus:not([readonly]) {
    border-bottom: 1px solid #F9D289;
    box-shadow: 0 1px 0 0  #F9D289;
  }

  input[type=password]:not(.browser-default) {
    border-bottom: 2px solid  #5B4653;
  }
  
  input[type=password]:focus + label {
    color:  #F9D289 !important; 
  }
  
  input[type=password]:focus {
    color: #F9D289 !important;
  }
  
  input[type=password]:not(.browser-default):focus:not([readonly]) {
    border-bottom: 1px solid #F9D289;
    box-shadow: 0 1px 0 0  #F9D289;
  }