.container {
    text-align: center;
    padding-top: 18%;
    color: #ffba60;
    font-weight: bold;
}
 

.row {
    text-align: center;
}

.button{
    background-color: #487B9C;
    color: #DEEAEA;
    float: right;
}


.button:hover, .button-large:hover, .button-small:hover{
    background-color: #487B9C;
    color: #ffba60; 
}

/* Form section */
.input-field>label {
    color: #1E3656 ;
    font-size: 1.4rem;
  }
  
  input[type=text]:not(.browser-default) {
    border-bottom: 2px solid  #487B9C;
  }
  
  input[type=text]:focus + label {
    color:  #ffba60 !important; 
  }
  
  input[type=text]:focus {
    color: #ffba60 !important;
  }
  
  input[type=text]:not(.browser-default):focus:not([readonly]) {
    border-bottom: 1px solid #ffba60;
    box-shadow: 0 1px 0 0  #ffba60;
  }

  input[type=password]:not(.browser-default) {
    border-bottom: 2px solid  #487B9C;
  }
  
  input[type=password]:focus + label {
    color:  #ffba60 !important; 
  }
  
  input[type=password]:focus {
    color: #ffba60 !important;
  }
  
  input[type=password]:not(.browser-default):focus:not([readonly]) {
    border-bottom: 1px solid #ffba60;
    box-shadow: 0 1px 0 0  #ffba60;
  }