.nav-wrapper {
    background-color:rgba(91, 70, 83, 0);
}

nav .brand-logo {
    color: #5B4653;
    font-family: 'Prata', serif;
    padding-left: 2%;
}

nav {
    margin-bottom: 4%;
}

.navbarButton {
    color: #5B4653;
    font-weight: bold;
}