.detailTitle {
    text-align: center;
    color: #ffba60;
    font-weight: bold; 
    font-size: 280%;
    padding-top: 2%;
}

h4 {
    text-align: center;
    padding: 2%;
}

.linkActivity {
    text-align: left;
}

.card {
    opacity: 0.75;
}

.activityImg {
    max-width: 250px;
    max-height: 250px;
}