.detailTitle {
    text-align: center;
    color: #5B4653;
    font-size: 250%;
    padding-top: 4%;
    padding-bottom: 0;
}

.detailLocation{
    text-align: center;
    color: #5B4653;
    font-size: 150%;
}
h4 {
    text-align: center;
    padding: 2%;
}

.linkActivity {
    font-weight: bold;
    color: #5B4653;
}

.detailCard {
    background-color:rgba(91, 70, 83, 0.068)
}


.activityImg {
    max-width: 480px;
    padding-top: 10%;
    padding-left: 10%;
    padding-bottom: 10%;
    padding-right: 10%;

}

