/* flexbox to structure for sticky footer */
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }
      
.page-footer {
    background-color: #487B9C;
}
.center {
    color: #ffba60;
    font-family: 'Prata', serif;
}

.page-footer{
position: sticky;
}