.welcome {
    text-align: center;
    padding-top: 18%;
    color: #5B4653;
    font-weight: bold;
}

.buttonMain{
    text-align: center;
}

.button{
    background-color: #5B4653;
    color: #FFFEDF;
}


.button:hover, .button-large:hover, .button-small:hover{
    background-color:  #DAA688;
    color: #5B4653;

}

   