textarea.materialize-textarea {
    border-bottom: 2px solid  #5B4653;
  }
  
  textarea.materialize-textarea:focus + label {
    color:  #daa688 !important; 
  }
  
  textarea.materialize-textarea:focus {
    color: #daa688 !important;
  }
  
  textarea.materialize-textarea:not(.browser-default):focus:not([readonly]) {
    border-bottom: 1px solid #daa688;
    box-shadow: 0 1px 0 0  #daa688;
  }

  h3{
    color: #5B4653;
  }

  h4{
    color: #5B4653;
  }

  h6 {
    color: #5B4653;
  }

  .card {
    background-color:rgba(91, 70, 83, 0.178);
    height: 565px;
  }

  .cardIdeas {
    overflow: scroll;
  }

  .nameLocation {
    color: #FFFEDF;
    background-color:rgba(91, 70, 83, 0.521)
  }