body{
  font-family: 'Prata', serif;
}

.wallpaper {
  background-image: url("./images/background.jpeg");
  opacity: 0.92;
}

.wallpaper {
  display: block;
  height: 100%;
  left: 0;
  top: 0;
  width: 100%;
  background-position: center;
  background-size: cover;
  position: fixed;
}